<!DOCTYPE html>
<html lang="en">

	<head>
		{% include 'include/head.html' %}
	</head>
	<body>

        {% include 'include/header.html' %}

        {% include 'include/home_section.html' %}

        {% include 'include/service_section.html' %}

        {% include 'include/portfolio_section.html' %}

        {% include 'include/about_section.html' %}

        <div class="section secondary-section">
            {% block content %}{% endblock %}
        </div>

        {% include 'include/client_section.html' %}

        {% include 'include/price_section.html' %}

        {% include 'include/news_section.html' %}

        {% include 'include/contact_section.html' %}

		{% include 'include/js.html' %}
		{% block js %}{% endblock %}

        {% include 'include/footer.html' %}
	</body>
</html>

        